
.game-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 50px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 40px;
    height: 40px;
    background-color: lightblue;
    border: 1px solid black;
}

.placed {
    background-color: green;
}

.missed {
    background-color: gray;
}

.touched {
    background-color: red;
}

.lastplay {
    background-color: yellow;
}

.disabled {
    opacity: 0.2;
}


.ship-end, .ship-middle {
    background-size: 100% 100%;
}

.ship-middle {
    background-image: url('/images/ship_middle.png');
}

.ship-end {
    background-image: url('/images/ship_end.png');
}

.rotate-right {
    transform: rotate(0deg);
}

.rotate-left {
    transform: rotate(180deg);
}

.rotate-up {
    transform: rotate(-90deg);
}

.rotate-down {
    transform: rotate(90deg);
}

.logs {
    border: gray solid 1px;
    border-radius: 5px;
    margin: 5px;
    background-color: #7e7e7e50;
    height: 80vh;
    width: 25vw;

    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.logs .log-entry {
    width: 100%;
    text-align: left;
}
.logs .log-entry:nth-child(odd) {
    background-color: #d3d3d3; /* Light gray for odd entries */
}

.logs .log-entry:nth-child(even) {
    background-color: #ffffff; /* White for even entries */
}