@page "/"

<PageTitle>BattleShip</PageTitle>

<div class="container">
    <div class="content">
        <h1>BattleShip game</h1>
        <hr/>
        <div class="inline">
            <div>
                <label for="ai-difficulty">Choose AI difficulty:</label>
                <select id="ai-difficulty" @bind="aiDiff">
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
                <a href="/play?aiMode=@aiDiff">
                    <button class="play-button" disabled="@(string.IsNullOrWhiteSpace(aiDiff))">Play against AI</button>
                </a>
            </div>
            <div>
                <a href="/play">
                    <button class="play-button">Create multiplayer room</button>
                </a>
            </div>
            <div>
                <input @bind="gameID" placeholder="Enter Game ID" />
                <a href="/play?gameid=@gameID">
                    <button class="play-button" disabled="@(string.IsNullOrWhiteSpace(gameID))">Join room</button>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
private string gameID = string.Empty;
private string aiDiff = string.Empty; 
}