@page "/"

<PageTitle>BattleShip</PageTitle>

<div class="container">
    <div class="content">
        <h1>BattleShip game</h1>
        <hr/>
        <div class="inline">
            <div>
                <div class="inline">
                    <label for="grid-size">Grid size:</label>
                    <input type="number" id="grid-size" @bind="gridSize" min="6" max="20"/>
                </div>
                <div class="inline">
                    <label for="ai-difficulty">Choose AI difficulty:</label>
                    <select id="ai-difficulty" @bind="aiDiff">
                        <option value="1">Dumb</option>
                        <option value="2">Smart</option>
                    </select>
                </div>
                <a href="/play?aiMode=@aiDiff&gridSize=@gridSize">
                    <button class="play-button" disabled="@(string.IsNullOrWhiteSpace(aiDiff))">Play against AI</button>
                </a>
            </div>
            <div>
                <div class="inline">
                    <label for="grid-size">Grid size:</label>
                    <input type="number" id="grid-size" @bind="gridSize" min="6" max="20"/>
                </div>
                <a href="/play?gridSize=@gridSize">
                    <button class="play-button">Create multiplayer room</button>
                </a>
            </div>
            <div>
                <input @bind="gameID" placeholder="Enter Game ID" />
                <a href="/play?gameid=@gameID">
                    <button class="play-button" disabled="@(string.IsNullOrWhiteSpace(gameID))">Join room</button>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    private string gameID = string.Empty;
    private string aiDiff = "1";
    private int gridSize = 10;
}